html {
    text-align: center;
    background-image: url(https://previews.123rf.com/images/sundatoon/sundatoon1403/sundatoon140300085/26768416-chef-giving-thumbs-up.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    

}
ul {
    padding-left: 45%;
    text-align: left;
    padding-right: 25%;
    font-size: 2rem;
}
h1 {
    font-size: 3rem;

}